/* Typography */

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('assets/fonts/proximanova-regular.eot');
  src: url('../assets/fonts/proximanova-regular.woff') format('embedded-opentype'),
    url('../assets/fonts/proximanova-regular.woff') format('woff'),
    url('assets/fonts/proximanova-regular.ttf') format('truetype'),
    url('assets/fonts/proximanova-regular.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('assets/fonts/proximanova-light.eot');
  src: url('assets/fonts/proximanova-light.eot#iefix') format('embedded-opentype'),
    url('assets/fonts/proximanova-light.woff') format('woff'),
    url('assets/fonts/proximanova-light.ttf') format('truetype'),
    url('assets/fonts/proximanova-light.svg#proxima_novalight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Steelfish Regular';
  src: url('../fonts/steelfish-regular.woff');
  src: url('assets/fonts/steelfish-regular.eot#iefix') format('embedded-opentype'),
    url('assets/fonts/steelfish-regular.woff') format('woff'),
    url('assets/fonts/steelfish-regular.ttf') format('truetype'),
    url('assets/fonts/steelfish-regular.svg#steelfish_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
     FILE ARCHIVED ON 15:11:32 Jan 24, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:09:17 Mar 01, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 316.976
  exclusion.robots: 0.135
  exclusion.robots.policy: 0.12
  cdx.remote: 0.09
  esindex: 0.014
  LoadShardBlock: 279.428 (3)
  PetaboxLoader3.datanode: 104.39 (5)
  PetaboxLoader3.resolve: 313.451 (4)
  load_resource: 304.779 (2)
*/